################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CourseWeb/obj
/CourseWeb/bin/Debug/net8.0
