

<div calss="container">
    <div class="row pt-4">
        <div class="col-6 pb-3">
            <h2 class="text-primary">User List</h2>
        </div>
    </div>
</div>

<table id="tblData" class="table talble-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                Company
            </th>
            <th>
                Role
            </th>
            <th>

            </th>
        </tr>
    </thead>

   

</table>

@section Scripts {
    <script src="~/js/user.js"></script>
}
